html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    
    color: #695A59;
    background: rgba(238, 233, 230, 1);
}

.page-header {
    background-color: #F8F6F5;
}

a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #695A59;
}

.header-link-call {
    text-decoration: underline;
}

.page-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration: underline;
    color: #9A8584;
}

.catalog-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #9A8584;
}

.solution-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #F5F2ED;
}

.button {
    display: inline-block;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #A78587;
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-top: 1px solid #A78587;
    border-bottom: 1px solid #A78587;
}

.page-content h1 {
    margin: 0;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;

    text-transform: uppercase;
    color: #EEE9E6;
}



.page-content h2 {
    margin: 0;
    position: relative;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;

    text-transform: uppercase;
    color: #695A59;
}

.page-content h2::before {
    content: "0";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Old Standard TT", sans-serif;
    font-weight: 400;
    font-size: 140px;
    line-height: 110px;

    z-index: -1;
    text-transform: uppercase;
    color: #EAE1DC;
}

.about h2::before {
    content: "About us";
}

.catalog h2::before {
    content: "The best";
}

.solutions h2::before {
    content: "Projects";
}

.page-content h3 {
    margin: 0;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    color: #695A59;
}

.page-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
}


/****************/

  .menu-container{
    position: relative;
    max-width: 300px;
  }
  .butter{
    position: absolute;
    max-width: 40px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    z-index: 99999;
    top: 10px;
    left: 5px;
    transition: left 1s;
  }
  .butter__line{
    position: absolute;
    height: 1px;
    width: 100%;
    opacity: .6;
    background-color: #9A8584;
    transition: top 0.1s, bottom 0.1s, opacity 0.1s, transform 0.3s;
  }
  .butter__line:nth-child(1){
    top: 5px;
  }
  .butter__line:nth-child(2){
    top: 15px;
  }
  .butter__line:nth-child(3){
    bottom: 5px;
  }
  .butter:not(.butter--active):hover .butter__line:nth-child(1){
    top: 0;
  }
  .butter:not(.butter--active):hover .butter__line:nth-child(3){
    bottom: 0;
  }
  .butter--active{
    box-sizing: border-box;
    left: 100%;
    transition: right 1s, left 1s,  transform 0.5s;
  }
  .butter--active .butter__line{
    opacity: 1;
  }
  .butter--active .butter__line:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
  }
  .butter--active .butter__line:nth-child(2){
    transform: scale(0);
  }
  .butter--active .butter__line:nth-child(3){
    transform: rotate(-45deg);
    bottom: 50%;
  }
  /* Menu */
  .menu{
    position: absolute;
    top: 0;
    line-height: 50px;
    z-index: 0;
    color: #FFF;
    left: -100%;
    width: 100%;
    transition: left 1s;
    will-change: left;
  }
  .menu__item{
    display: block;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-family: Roboto;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  .menu__item:hover{
    background-color: rgba(0,0,0,0.9);
  }
  .menu--active{
    left: 0!important;
  }