/****************/

.menu-container{
    position: relative;
    max-width: 300px;
  }
  .butter{
    position: absolute;
    max-width: 40px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    z-index: 99999;
    top: 10px;
    left: auto;
    transition: left 1s;
  }
  .butter__line{
    position: absolute;
    height: 1px;
    width: 100%;
    opacity: .6;
    background-color: #9A8584;
    transition: top 0.1s, bottom 0.1s, opacity 0.1s, transform 0.3s;
  }
  .butter__line:nth-child(1){
    top: 5px;
  }
  .butter__line:nth-child(2){
    top: 15px;
  }
  .butter__line:nth-child(3){
    bottom: 5px;
  }
  .butter:not(.butter--active):hover .butter__line:nth-child(1){
    top: 0;
  }
  .butter:not(.butter--active):hover .butter__line:nth-child(3){
    bottom: 0;
  }
  .butter--active{
    box-sizing: border-box;
    left: 100%;
    transition: right 1s, left 1s,  transform 0.5s;
  }
  .butter--active .butter__line{
    opacity: 1;
  }
  .butter--active .butter__line:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
  }
  .butter--active .butter__line:nth-child(2){
    transform: scale(0);
  }
  .butter--active .butter__line:nth-child(3){
    transform: rotate(-45deg);
    bottom: 50%;
  }
  /* Menu */
  .menu{
    position: absolute;
    top: 0;
    line-height: 50px;
    z-index: 0;
    color: #FFF;
    left: -100%;
    width: 100%;
    transition: left 1s;
    will-change: left;
  }
  .menu__item{
    display: block;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-family: Roboto;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  .menu__item:hover{
    background-color: rgba(0,0,0,0.9);
  }
  .menu--active{
    left: 0!important;
  }

body{
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    
    color: #695A59;
    background-color: #f8f6f5;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #695A59;
}

.header-link-call {
    text-decoration: underline;
}

.page-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration: underline;
    color: #9A8584;
}

.catalog-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #9A8584;
}

.solution-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #F5F2ED;
}

.button {
    display: inline-block;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #A78587;
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-top: 1px solid #A78587;
    border-bottom: 1px solid #A78587;
}

.promo-lead {
    margin: 0;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;

    text-transform: uppercase;
    color: #EEE9E6;

    grid-area: 1 / 2 / 2 / 7;
}

.page-content h2 {
    margin: 0;
    position: relative;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;

    text-transform: uppercase;
    color: #695A59;
}

.page-content h2::before {
    content: "0";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Old Standard TT", sans-serif;
    font-weight: 400;
    font-size: 140px;
    line-height: 110px;

    z-index: -1;
    text-transform: uppercase;
    color: #EAE1DC;
}

.about h2::before {
    content: "About us";
}

.catalog h2::before {
    content: "The best";
}

.solutions h2::before {
    content: "Projects";
}

.mission h2::before {
    content: "Mission";
}

.team h2::before {
    content: "Our team";
}

.gallery h2::before {
    content: "Collections";
}

.feedback h2::before {
    content: "Talk";
}

.page-content h3 {
    margin: 0;
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    color: #695A59;
}


.page-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.container {
    width: 1166px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    grid-column: 1 / span 4;
}

.header-link-number {
    grid-column: 7 / span 2;

    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.header-link-number span {
    grid-column: 2;
    text-decoration: underline;
}

.header-link-number::before {
    content: "";
    width: 18px;
    height: 24px;

    background-image: url(/img/phone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.address {
    grid-column: 9 / span 3;

    font-style: normal;
    font-size: 14px;
    line-height: 24px;

    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    line-height: 24px;
}

.address::before {
    content: "";
    width: 16px;
    height: 20px;
    margin-right: 15px;

    background-image: url(/img/pin.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.menu-container {
    grid-column: 12 / 13;
}

.promo {
    background-image: url(/img/bg-promo.png);
    background-repeat: no-repeat;
    background-position: center bottom 80px;
    background-size: cover;
}

.promo-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: auto auto 1fr;
    padding: 80px 0 0 0;
}

.promo-text {
    grid-area: 2 / 2 / 3 / 7;
    font-size: 18px;
    line-height: 32px;

    color: #EEE9E6;
    opacity: 0.6;
}

.promo-button {
    grid-area: 3 / 2 / 4 / 7;
    margin-top: 32px;
}

.promo-img {
    grid-area: 1 / 7 / -1 / -1;
}

.promo-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    margin-top: 85px;
}

.about-grid {
    grid-template-rows: repeat(6, auto);
}
    /*
    grid-area: row-start / col-start / row-end / col-end;
    */
.about-title {
    grid-area: 1 / 1 / 2 / -1;
    padding-left: 97px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.about-text-1 {
    grid-area: 2 / 2 / 3 / 8;
}

.about-rightside-text-1 {
    grid-area: 2 / 9 / 3 / 12;
    padding-top: 27px;
}

.about-bg-text {
    grid-area: 3 / 1 / 4 / 12;

    display: inline-block;
    height: 304px;
    font-size: 26px;
    line-height: 48px;
    color: #FFFFFF;
    background-image: url(/img/bg-aside.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1166px, 304px;

}

.about-text-2 {
    grid-area: 4 / 2 / 5 / 8;
}

.about-img {
    grid-area: 5 / 2 / 6 / 8;
}

.about-rightside-text-2 {
    grid-area: 5 / 9 / 6 / 12;
    padding-top: auto;
}

.about-text-3 {
    grid-area: 6 / 2 / 7 / 8;
}

.catalog {
    margin: 0 auto;
    width: 1166px;
}

.catalog-grid {
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

.card-item {
    grid-column: span 4;

    background: #FFFFFF;
}

.card-horizontal {
    grid-column: span 6;
}

.card-text {
    font-size: 14px;
    line-height: 20px;

    color: #695A59;
    opacity: 0.6;
}

.card-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;

    color: #343235;
}